<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Desconto"
		gameType="Digital PS5"
		gamePrice="299,99"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="PS5 Exclusive"
		gameType="Digital PS5"
		gamePrice="180"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="150"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="149,99"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="49,99"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="100"
	></app-card>
</div>

