<div class="home__container">
	<app-card
		id="1"
		gameCover="https://images5.alphacoders.com/131/1318376.jpeg"
		gameLabel="Desconto"
		gameType="Digital PS5"
		gamePrice="299,99"
	></app-card>
	<app-card
		id="2"
		gameCover="assets/bt-4.jpg"
		gameLabel="PS5 Exclusive"
		gameType="Digital PS5"
		gamePrice="180"
	></app-card>
	<app-card
		id="3"
		gameCover="assets/bt-5.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="150"
	></app-card>
	<app-card
		id="4"
		gameCover="assets/ac-cover.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="149,99"
	></app-card>
	<app-card
		id="5"
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="49,99"
	></app-card>
	<app-card
		id="6"
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Play Now!"
		gameType="Digital PS5"
		gamePrice="100"
	></app-card>
</div>

